Write a python script that uses pandas dataframes to find the following:

1. The total number of purchases per product type.
    - There are three product types sold by this etsy store: Framed Posters, Canvas Paintings & Poster Prints.
    - Find the total number of purchases for each product type.
    - Which product has the highest purchase count?
    
To solve this part, you can load the csv file into a dataframe, extract the purchase_type column and apply the value_counts() function to it.

In [3]:
import pandas as pd

df = pd.read_csv('sales.csv', header=0)
counts = df['product_type'].value_counts()
print('Total number of purchases for each product type: ', counts, '\n')
print('Highest Purchase Count : ', counts.idxmax(), ' = ', counts.max())

Total number of purchases for each product type:  product_type
Framed Poster      2351
Canvas Painting    1215
Poster Print        403
Name: count, dtype: int64

Highest Purchase Count :  Framed Poster  =  2351

2. The total number of purchases per month.
    - First, extract the purchase_date column from the dataframe.
    - Next, use the pandas DatetimeIndex class to extract the month from the purchase_date attribute. Use this page as a reference: https://www.interviewqs.com/ddi-code-snippets/extract-month-year-pandas
    - Finally, apply the value_counts() function to the extracted months to get the total number of purchases per month. 
    - Can you use the month_name() function instead of month to show the month names instead of the month numbers? Check this page for reference: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DatetimeIndex.month_name.html

In [4]:
purchaseDate = df['purchase_date']
months = pd.DatetimeIndex(purchaseDate).month
monthCounts = months.value_counts(sort=False)
print('Month with Value Counts: ', monthCounts, '\n')

monthNames = pd.DatetimeIndex(purchaseDate).month_name()
monthNameCounts = monthNames.value_counts(sort=False)
print('Month Names with Value Counts: ', monthNameCounts)

Month with Value Counts:  purchase_date
1     321
2     323
3     365
4     382
5     345
6     323
7     345
8     288
9     319
10    346
11    270
12    342
Name: count, dtype: int64

Month Names with Value Counts:  purchase_date
January      321
February     323
March        365
April        382
May          345
June         323
July         345
August       288
September    319
October      346
November     270
December     342
Name: count, dtype: int64